{% extends 'admin/account_base.html' %}{% load static %}
{% block title %}Kullanıcı oluştur{% endblock %}
{% block content %}
<div class="page-heading"><div><p>Kurum, denetim ve rol seçin. İlk girişte değiştirilecek 12 karakterlik tek kullanımlık parola otomatik üretilir.</p></div></div>
<section class="panel prose account-panel">
<form method="post" class="response-form" id="create-account-form">{% csrf_token %}{{ form.as_p }}
<p class="subtle">Kayıttan sonra varsayılan e-posta uygulamanızda rolüne uygun bir taslak açılır. E-postayı kontrol edip kendiniz gönderirsiniz.</p>
<button type="submit" class="primary">Kullanıcıyı oluştur ve e-posta taslağını aç</button>
</form></section>
{{ account_audits|json_script:'account-audits' }}
{% endblock %}
{% block account_scripts %}<script defer src="{% static 'js/create-account.js' %}"></script>{% endblock %}
