{% extends "base_index.html" %}
{% load static %}
{% block content %}

    <main>
      <section class="container d-flex flex-column vh-100">
        <div class="row align-items-center justify-content-center g-0 h-lg-100 py-8">
          <!-- Coming Soon -->
          <div class="offset-xl-1 col-xl-5 col-lg-6 col-md-12 col-12 text-center text-lg-start">
            <h1 class="display-3 mb-2 fw-bold">This page will be available very soon.</h1>
            <p class="fs-4 mb-0">
              We launched earlier than expected — thanks for your patience while we get everything ready!
            </p>
          </div>

          <!-- img -->
          <div class="offset-xl-1 col-xl-5 col-lg-6 col-md-12 col-12 mt-8 mt-lg-0">
            <img src="{% static 'assets/images/background/comingsoon.svg' %}" alt="commingsoon" class="w-100" />
          </div>
        </div>
      </section>
    </main>

    {% endblock %}
