{% extends "base_index.html" %}
{% load static %}
{% block content %}

    <main>
      <section class="py-8 bg-primary">
        <div class="container my-lg-8">
          <!-- Page header -->
          <div class="row align-items-center">
            <div class="offset-xl-2 col-xl-8">
              <div class="text-center mb-6 px-md-8">
                <h1 class="text-white display-3 fw-bold">
                  Practical pricing for learners and teams in audit, control & cybersecurity
                </h1>
                <p class="text-white lead mb-4">
                  Whether you're starting your career in IT Audit, Internal Control, or GRC — or preparing your audit team for upcoming assessments, ITAuditLab provides hands-on, real-world training that scales with your goals.
                </p>
              </div>

            </div>
          </div>
        </div>
      </section>
      <!-- Content -->
      <section class="mt-n8 pb-8">
        <div class="container">
          <div class="row">

            <div class="col-lg-6">
              <!-- Card -->
              <div class="card border-0 mb-3 mb-lg-0">
                <!-- Card body -->
                <div class="p-5 text-center">
                  <img src="{% static 'assets/images/svg/price-icon-1.svg' %}" alt="icon" class="mb-5" />
                  <div class="mb-5">
                    <h2 class="fw-bold">Individual</h2>
                    <p class="mb-0">
                      <span class="text-dark fw-medium">Unlimited access to all premium content for 1 year.</span><br />
                      Learn the <strong>undiscovered areas of cybersecurity</strong> and grow your career.
                    </p>
                  </div>
                  <div class="d-flex justify-content-center mb-4">
                    <span class="h3 mb-0 fw-bold">$</span>
                    <div class="toggle-price-content h1">449</div>
                    <span class="align-self-end mb-1 ms-2 toggle-price-content">/Yearly</span>
                  </div>
                  <div class="d-grid">
                    <a href="{% url 'coming-soon' %}" class="btn btn-primary">Get Full Year Access</a>
                  </div>
                </div>
                <hr class="m-0" />
                <div class="p-5">
                  <h4 class="fw-bold mb-4">What’s included:</h4>
                  <!-- List -->
                  <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                      <span class="text-success me-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                          <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                        </svg>
                      </span>
                      <span>Learn IT Audit, IT Control and GRC</span>
                    </li>
                    <li class="mb-1">
                      <span class="text-success me-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                          <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                        </svg>
                      </span>
                      <span>Quizzes and assessments</span>
                    </li>
                    <li class="mb-1">
                      <span class="text-success me-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                          <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                        </svg>
                      </span>
                      <span>Immediate online feedback</span>
                    </li>
                    <li class="mb-1">
                      <span class="text-success me-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                          <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                        </svg>
                      </span>
                      <span>High-quality video training & kits</span>
                    </li>
                    <li class="mb-1">
                      <span class="text-success me-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                          <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                        </svg>
                      </span>
                      <span>Mockup documentation & templates</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>


            <div class="col-lg-6">
              <!-- Card -->
              <div class="card border-0 mb-3 mb-lg-0">
                <!-- Card body -->
                <div class="p-5 text-center">
                  <img src="{% static 'assets/images/svg/price-icon-3.svg' %}" alt="icon" class="mb-5" />
                  <div class="mb-5">
                    <h2 class="fw-bold">Team</h2>
                    <p class="mb-0">
                      <strong>Are you an internal audit team?</strong><br />
                      Contact us for access — special licensing for teams.
                    </p>
                  </div>
                  <div class="d-flex justify-content-center mb-4">
                    <span class="h1 fw-bold">Contact Us</span>
                  </div>
                  <div class="d-grid">
                    <a href="#" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#teamAccessModal">
                      Request Team Access
                    </a>
                  </div>
                </div>
                <hr class="m-0" />
                <div class="p-5">
                  <h4 class="fw-bold mb-4">License for teams:</h4>
                  <!-- List -->
                  <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                      <span class="text-success me-1">
                        <!-- check icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                          <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                        </svg>
                      </span>
                      <span>Prepare your audit team before any audit</span>
                    </li>
                    <li class="mb-1">
                      <span class="text-success me-1">
                        <!-- check icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                          <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                        </svg>
                      </span>
                      <span>Train risk-focused audit mindset</span>
                    </li>
                    <li class="mb-1">
                      <span class="text-success me-1">
                        <!-- check icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                          <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                        </svg>
                      </span>
                      <span>Team-wide performance tracking</span>
                    </li>
                    <li class="mb-1">
                      <span class="text-success me-1">
                        <!-- check icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                          <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                        </svg>
                      </span>
                      <span>Custom onboarding & documentation</span>
                    </li>
                    <li class="mb-1">
                      <span class="text-success me-1">
                        <!-- check icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                          <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                        </svg>
                      </span>
                      <span>Priority support</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>



          </div>
        </div>
      </section>
      <!-- Client logo -->
      <section class="py-lg-8 py-3">
        <div class="container">
          <div class="row">
            <div>
              <div class="mb-8 text-center">
                <h4>Chosen by professionals working in audit, cybersecurity, compliance, and GRC teams worldwide</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Client logo -->
            <div class="col-md-4 col-lg-2 col-6 mb-4 mb-lg-0">
              <img src="{% static 'assets/images/brand/paypal.svg' %}" alt="brandlogo" />
            </div>
            <!-- Client logo -->
            <div class="col-md-4 col-lg-2 col-6 mb-4 mb-lg-0">
              <img src="{% static 'assets/images/brand/netflix.svg' %}" alt="brandlogo" />
            </div>
            <!-- Client logo -->
            <div class="col-md-4 col-lg-2 col-6 mb-4 mb-lg-0">
              <img src="{% static 'assets/images/brand/xbox.svg' %}" alt="brandlogo" />
            </div>
            <!-- Client logo -->
            <div class="col-md-4 col-lg-2 col-6 mb-4 mb-lg-0">
              <img src="{% static 'assets/images/brand/instagram.svg' %}" alt="brandlogo" />
            </div>
            <!-- Client logo -->
            <div class="col-md-4 col-lg-2 col-6 mb-4 mb-lg-0">
              <img src="{% static 'assets/images/brand/pinterest.svg' %}" alt="brandlogo" />
            </div>
            <!-- Client logo -->
            <div class="col-md-4 col-lg-2 col-6 mb-4 mb-lg-0">
              <img src="{% static 'assets/images/brand/stripe.svg' %}" alt="brandlogo" />
            </div>
          </div>
        </div>
      </section>
      <!-- FAQ -->
      <section class="py-lg-8 py-5">
        <div class="container">
          <div class="row">
            <!-- Row -->
            <div class="mb-8 text-center">
              <h2 class="h1">Frequently Asked Questions</h2>
            </div>
          </div>
          <!-- Row -->
          <div class="row">
            <!-- Col -->
            <div class="col-md-6 col-lg-4 mb-3">
              <h4>Why don’t you offer monthly plans?</h4>
              <p>Cybersecurity, GRC, and audit are long-term career paths. One month isn't enough to gain real skills. We’re not just selling access — we’re building a committed learning community.</p>
            </div>

            <div class="col-md-6 col-lg-4 mb-3">
              <h4>Is there a refund policy?</h4>
              <p>Yes. If you’re not satisfied, you can request a full refund within 24 hours of purchase — no questions asked.</p>
            </div>

            <div class="col-md-6 col-lg-4 mb-3">
              <h4>Why should companies purchase team access?</h4>
              <p>We help ensure your audit team is not only trained but ready to uncover hidden risks. It's practical, hands-on preparation before real audits.</p>
            </div>

            <div class="col-md-6 col-lg-4 mb-3">
              <h4>Is this only for IT auditors?</h4>
              <p>No. Our platform is built for anyone working in audit, control, compliance, cybersecurity, or risk — whether you're starting or upskilling.</p>
            </div>

            <div class="col-md-6 col-lg-4 mb-3">
              <h4>Do I get a certificate?</h4>
              <p>Yes, upon completing required modules and assessments, you'll receive a personalized certificate that proves your hands-on training.</p>
            </div>

            <div class="col-md-6 col-lg-4 mb-3">
              <h4>What makes ITAuditLab different?</h4>
              <p>We simulate real audit experiences — not just videos or slides. You'll practice on realistic scenarios, develop a risk mindset, and join a growing global learning network.</p>
            </div>

            <!-- Col -->
            <div class="mt-lg-10 mt-4">
              <!-- Card-->
              <div class="card">
                <!-- Card body -->
                <div class="card-body">
                  <div class="d-lg-flex justify-content-between align-items-center">
                    <h4 class="mb-0">Have other questions?</h4>
                    <span>
                      Send us a mail via:

                      <a href="mailto:support@itauditlab.com" target="_blank">support@itauditlab.com</a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
{% endblock %}
